.login-body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 37, 37);
}

.login-form{
    background-color: rgb(32, 31, 31);
    width: 40vw;
    padding: 10vh;
    height: auto;
    margin: 0 auto;
    margin-top: 25vh;

    transition: 300ms;

    border-radius: 5px;
    box-shadow: 0px 7px 10px 3px rgba(37, 37, 37, 0.7);
}
.login-form:hover{
    transition: 300ms;
    width: 44vw;
    box-shadow: 0px 7px 10px 3px hsla(39, 99%, 54%, 0.7);
}

.login-input{
    width: 30vw;
    height: 40px;
    margin: 10px 0;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 31, 31);
    color: white;

    transition: 300ms;
}
.login-input:hover{
    transition: 300ms;
    background-color: rgb(32, 31, 31);
    box-shadow: 0px 7px 10px 3px hsla(39, 99%, 54%, 0.7);
}

.login-button{
    width: 30vw;
    height: 40px;
    margin: 10px 0;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: rgb(68, 66, 66);
    color: white;

    transition: 300ms;
}
.login-button:hover{
    transition: 300ms;
    background-color: rgb(32, 31, 31);
    box-shadow: 0px 7px 10px 3px hsla(39, 99%, 54%, 0.7);
}